<div class="container">
    <h1 class="pb-3"><i class="fas fa-route fa-fw"></i> {{ tasksTitle }}</h1>
    <hr>
    <p class="py-3"><i class="fas fa-check-square text-success fa-fw"></i> Task Completed | <i class="fas fa-clock text-warning fa-fw"></i> Task in Progress</p>

  
    <div class="table-responsive">
        <table class="table table-striped -5" *ngIf="tasks">
            <thead>
                <tr>
                    <th scope="col">Status</th>
                    <th scope="col">User</th>
                    <th scope="col">Task</th>
                    <th scope="col" class="text-right">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let task of tasks; let i = index">
                    <td><i class="fas fa-lg {{ task.complete ? 'fa-check-square text-success' : 'fa-clock fa text-warning' }} fa-fw"></i> </td>
                    <td>{{ task.user }}</td>
                    <td>{{ task.title }}</td>
                    <td class="text-right">
                        <a routerLink="/task/{{task.id}}" role="button" class="btn btn-dark btn-sm">
                        manage
                    </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>