<header>
    <div class="container">
        <nav class="navbar flex-column flex-sm-row navbar-expand  navbar-dark bg-transparent">
            <a routerLink="/" class="navbar-brand">{{ title }}</a>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a routerLink="/" class="nav-link">
                        <i class="fas fa-chart-line"></i> Dashboard</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/tasks" class="nav-link">
                        <i class="fas fa-clipboard-list fa-fw"></i> Tasks</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/users" class="nav-link">
                        <i class="fas fa-users fa-fw"></i> Users</a>
                </li>
            </ul>
        </nav>
    </div>
</header>