<header>
    <div class="container">
        <nav class="navbar navbar-expand  navbar-dark bg-transparent">
            <a routerLink="/" class="navbar-brand">{{ title }}</a>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a routerLink="/" class="nav-link">
                        <i class="fas fa-chart-line"></i> Dashboard</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/missions" class="nav-link">
                        <i class="fas fa-route fa-fw"></i> Missions</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/scouts" class="nav-link">
                        <i class="fas fa-users fa-fw"></i> Scouts</a>
                </li>
            </ul>
        </nav>
    </div>
</header>