<div class="container">
    <h1>{{ missionsTitle }}</h1>
    <div class="table-responsive">
        <table class="table table-striped -5" *ngIf="missions">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Date added</th>
                    <th scope="col">Title</th>
                    <th scope="col">Done</th>
                    <th scope="col">Scout</th>
                    <th scope="col" class="text-right">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let mission of missions; let i = index">
                    <th scope="row">{{ mission.id }}</th>
                    <td>{{ mission.date }}</td>
                    <td>{{ mission.title }} </td>
                    <td>{{ mission.complete ? 'yes' : 'no' }}</td>
                    <td>{{ mission.scout }}</td>
                    <td class="text-right">
                        <a routerLink="/mission/{{mission.id}}" role="button" class="btn btn-dark btn-sm">
                        manage
                    </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>