<div class="container">
    <h1 class="pb-3"><i class="fas fa-route fa-fw"></i> {{ missionsTitle }}</h1>
    <hr>
    <p class="py-3"><i class="fas fa-check-square text-success fa-fw"></i> Mission Completed | <i class="fas fa-clock text-warning fa-fw"></i> Mission in Progress</p>

  
    <div class="table-responsive">
        <table class="table table-striped -5" *ngIf="missions">
            <thead>
                <tr>
                    <th scope="col">Date Added</th>
                    <th scope="col">Mission</th>
                    <th scope="col">Status</th>
                    <th scope="col">Scout</th>
                    <th scope="col" class="text-right">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let mission of missions; let i = index">
                    
                    <td scope="row">{{ mission.date }}</td>
                    <td>{{ mission.title }}</td>
                    <td><i class="fas fa-lg {{ mission.complete ? 'fa-check-square text-success' : 'fa-clock fa text-warning' }} fa-fw"></i> </td>
                    <td>{{ mission.scout }}</td>
                    <td class="text-right">
                        <a routerLink="/mission/{{mission.id}}" role="button" class="btn btn-dark btn-sm">
                        manage
                    </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>