<div class="container">
    <h2>{{ scoutsTitle }}</h2>

    <div class="table-responsive">
        <table class="table table-striped" *ngIf="scouts">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Missions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let scout of scouts.results">
                    <th scope="row">{{ scout.id }}</th>
                    <td>{{ scout.name }}</td>
                    <td><span *ngFor="let mission of scoutMissions">
                        {{ mission }}
                    </span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>