<div class="container">
    <h1 class="pb-3"><i class="fas fa-users fa-fw"></i> {{ scoutsTitle }}</h1>
    <hr>
    <p class="py-3"><i class="fas fa-check-square text-success fa-fw"></i> Mission Completed | <i class="fas fa-clock text-warning fa-fw"></i> Mission in Progress</p>
<hr>
    <div class="row mt-5">
        <div class="col-sm-6 col-lg-4 mb-4" *ngFor="let scout of scouts">
            <div class="card">
                <div class="card-body">
                    <div class="row no-gutters">
                        <div class="col-4 mb-sm-3 mb-md-0">
                            <i class="fas fa-user-circle fa-3x"></i>
                        </div>
                        <div class="col-8">
                            <h5 class="card-title mb-0">
                                {{ scout.name }} <br>
                                <small class="font-weight-lighter text-black-50">ID: <em>{{ scout.id }}</em></small>
                            </h5>
                        </div>
                    </div>
                    
                        <hr>
                        <h6 class="font-weight-bold ">Missions</h6>
                        <p class="text-secondary font-italic" *ngIf="!scout.missions.length">no missions yet</p>
                <div *ngIf="scout.missions.length">
                        <p class="card-text" *ngFor="let mission of scout.missions">
                            <i class="fas {{ mission.complete ? 'fa-check-square text-success' : 'fa-clock text-warning'}}  fa-fw"></i>
                            {{ mission.title }}
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>