<div class="container">
    <h1 class="pb-3"><i class="fas fa-chart-line"></i> {{ dashboardTitle }}</h1>
    <hr>
    <div class="row mt-5 text-center">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card py-4 border-success">
                <div class="card-body">
                    <i class="fas fa-route fa-4x fa-fw"></i>
                    <h2 class="card-title my-4">
                        {{ tasks?.length }} Total Tasks
                    </h2>
                    <a routerLink="/tasks" class="btn btn-success btn-lg text-uppercase">go to Tasks</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card border-info py-4">
                <div class="card-body">
                    <i class="fas fa-users fa-4x fa-fw"></i>
                    <h2 class="card-title my-4">
                        {{ users?.length }} Users
                    </h2>
                    <a routerLink="/users" class="btn btn-info btn-lg text-uppercase">view Users</a>
                </div>
            </div>
        </div>
    </div>
</div>