<div class="container">
    <h1>{{ dashboardTitle }}</h1>
    <div class="row mt-5">
        <div class="col-sm-6" *ngIf="missions">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">
                        {{ missionsStatsTitle }}
                    </h2>
                    <p class="card-text">
                        Total {{ missions.count }}
                    </p>
                    <a routerLink="/missions" class="btn btn-primary">view missions</a>
                </div>
            </div>
        </div>
    </div>
</div>

<app-scouts></app-scouts>